.shows_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}

@media (max-width: 1200px) {
  .shows_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .shows_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .shows_container {
    grid-template-columns: 1fr;
  }
}
