.movie-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;

  @media screen and (min-width: 768px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.movie-card {
  text-align: center;
  position: relative;
  text-decoration: none;

  img {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  &:hover img {
    transform: scale(1.05);
    filter: brightness(0.5);
  }

  .no-poster {
    width: 200px;
    height: 300px;
    border-radius: 8px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .movie-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    color: #fff;
    display: none;
  }
  &:hover .movie-text {
    display: block;
    text-shadow: 2px 2px 4px #000;
  }
}

.load-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .load-more {
    padding: 10px 60px;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;

    &:hover {
      background-color: #0056b3;
    }
  }
}
