.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    background: #2c3e50;
    padding: 18px 0;
}

.tableRow {
    width: 100%;
    padding: 18px 0;
    text-align: center;

    &:nth-of-type(odd) {
        background: #e0e0e0;
    }
}

.filterLink {
    color: #fff;
    position: relative;
    padding: 24px 0;
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
}

.desc:after,
.asc:after {
    content: '';
    color: #fff;
    font-size: 14px;
    transform: translateY(-50%);
}

.desc:after {
    content: '(desc)';
}

.asc:after {
    content: '(asc)';
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.iconCell {
    width: 24px;
}